/* Root definition for theming and reusability */
:root {
    --bg-color-light: #fff; /* Background color for light theme */
    --text-color-light: #333; /* Text color for light theme */
    --accent-color-light: #fca9b7; /* Accent color for light theme (used for links, buttons, etc.) */
    --bg-color-dark: #14191f; /* Background color for dark theme */
    --text-color-dark: #ecf0f1; /* Text color for dark theme */
    --accent-color-dark: #fca9b7; /* Accent color for dark theme */
    --transition-speed: 0s; /* Standard duration for transition effects */
    --icon-hover-color:#0077B5;
}

/* Light theme properties */
body.theme-light {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
    --accent-color: var(--accent-color-light);
}

/* Dark theme properties */
body.theme-dark {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --accent-color: var(--accent-color-dark);
}

/* Base styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Baloo 2', sans-serif;
    margin: 5rem; /* Outer margin for body to create space around the content */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /* Shadow for depth */
    border-radius: 1rem; /* Rounded corners for body */
    transition: background-color var(--transition-speed), color var(--transition-speed); /* Smooth transition for theme change */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem; /* Spacing inside the header */
    background: var(--bg-color); /* Use theme background color */
    color: var(--text-color); /* Use theme text color */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

hr {
  border: none;
  height: 1rem;
  /* Set the hr color */
  color: var(--text-color);;  /* old IE */
  background-color: var(--text-color);;  /* Modern Browsers */
}

#logo {
    font-weight: bold;
    font-size: 2rem; /* Large font size for logo */
    margin: 2rem 0;
}

.nav-toggle {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    color: var(--accent-color);
    font-size: 2rem;
    cursor: pointer;
}


/* Styling for navigation links */
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0 2rem; /* Horizontal spacing between navigation links */
    text-decoration: none; /* Remove underline from links */
    color: var(--accent-color); /* Use accent color for icons */
    font-size: 1.5rem; /* Set a consistent font size for icons */
    transition: color var(--transition-speed), transform var(--transition-speed); /* Smooth transition for hover effects */
}

/* Hover effect for navigation links */
.nav-links a:hover {
    color: var(--icon-hover-color); /* Set color on hover */
    transform: scale(1.2); /* Enlarge icon slightly on hover */
}

/* Styling for social media links */
.social-links {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack social links vertically */
    align-items: center; /* Align icons to the center */
}

/* Align social icons in a row and center them */
.social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0; /* Vertical spacing between icons */
    color: var(--accent-color); /* Use theme text color */
    text-decoration: none; /* Remove underline from the links */
    transition: color var(--transition-speed), transform var(--transition-speed); /* Smooth transition for hover effects */
}

/* Hover effect for social icons*/
.social-links a:hover {
    color: var(--icon-hover-color); /* Set color on hover */
    transform: scale(1.2); /* Enlarge icon slightly on hover */
}

/* Consistent hover effect for all font awesome brand icons */
.fab, .fas {
    font-size: 1.5rem; /* Medium font size for icons */
    transition: color var(--transition-speed), transform var(--transition-speed); /* Smooth transition for hover effects */
    text-decoration: none; /* Remove underline from icons */
}

/* Toggle button for theme switch */
#theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem; /* Medium font size for toggle icon */
    color: var(--accent-color); /* Use theme accent color */
    cursor: pointer; /* Cursor indicates clickable item */
    transition: color var(--transition-speed); /* Smooth color transition */
}

/* Hover effect for theme toggle */
#theme-toggle:hover {
    color: var(--icon-hover-color); /* Set color on hover */
    font-size: 1.5rem; /* Medium font size for icons */
    transition: color var(--transition-speed), transform var(--transition-speed); /* Smooth transition for hover effects */
    text-decoration: none; /* Remove underline from icons */
}

/* Email link styling */
.email a {
    color: var(--text-color); /* Use theme text color */
    text-decoration: none; /* Remove underline */
    transition: color var(--transition-speed); /* Smooth transition for color and text-decoration */
}

.section {
    padding: 3rem; /* Spacing inside the header */
}

.title-desc {
    text-align: center;
}

/* Contact information and profile section */
#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-welcome h1 {
    text-align: left;
}

/* Profile picture styling */
#profile-picture img {
    width: 30rem; /* Fixed width */
    height: 30rem; /* Fixed height */
}

/* Skills section */
#skills {
    margin: 4rem; /* Margin around the skills section */
}

#skills h2 {
    font-size: 2rem; /* Large font size for section heading */
    margin-bottom: 1rem; /* Spacing below the section heading */
}

/* "Reach out to me" button styling */
#contact-button {
    background: var(--accent-color); /* Use theme accent color for button background */
    color: var(--bg-color); /* Use theme background color for button text */
    border: none;
    border-radius: 1rem; /* Rounded corners for button */
    padding: 1rem; /* Padding inside button */
    cursor: pointer; /* Cursor indicates clickable item */
    margin-top: 1rem; /* Spacing above the button */
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed); /* Smooth transition for hover effects */
}

/* Hover effect for "Reach out to me" button */
#contact-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Larger shadow for hover effect */
    background-color: var(--icon-hover-color); /* Set color on hover */;
}

/* Apply consistent hover effects to all buttons and links */
button:hover, a:hover {
    transform: translateY(-3px); /* Move up slightly on hover for a 'lift' effect */
}

/* Footer styling */
footer {
    background-color: var(--bg-color); /* Background color for the footer */
    color: var(--text-color); /* Text color for the footer */
    padding: 2rem; /* Padding inside the footer */
    text-align: center; /* Center-align text */
}

/* Horizontal rule styling */
footer hr {
    border: none;
    height: 1px;
    background-color: var(--text-color); /* Color of the horizontal rule */
    margin: 1rem 0; /* Margin above and below the horizontal rule */
}

/* Copyright text styling */
footer p {
    font-size: 1rem; /* Font size for the copyright text */
    margin: 0; /* Remove default margin */
}

/* Year styling */
footer #year {
    font-weight: bold; /* Make the year bold */
}

#projects-gallery {
    display: flex;
    overflow-x: auto;
    padding: 2rem; /* Padding around the gallery */
}

.project {
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
    text-align: center; /* Center project name text */
    margin: 0 2rem;
}

.project-image {
    width: 400px; /* Desired width */
    height: 300px; /* Desired height */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}

.project p {
    margin-top: 2rem; /* Space between image and project name */
}

/* General timeline styles */
.timeline-container {
    display: flex;
    overflow-x: auto;
    margin: 2rem;
}

.timeline-entry {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.timeline-icon {
    background-size: cover;
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 0 2rem;
}

.timeline-year {
    font-weight: bold;
}

.timeline-title {
    text-align: center;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 1230px) {
    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        font-family: 'Baloo 2', sans-serif;
        margin: 1rem; /* Outer margin for body to create space around the content */
        flex-direction: row; /* Keep header elements in a row */
        justify-content: space-between; /* Space out logo and nav-toggle */
        align-items: center; /* Center-align items vertically */
    }

    header {
        flex-direction: row; /* Stack header elements vertically */
    }

    #profile-picture img {
        width: 100%; /* Make profile picture responsive */
        height: auto;
        max-width: 300px; /* Set a max-width to prevent the image from becoming too large */
        order: 2;
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        text-align: center;
        order: 1;
    }

    #home h1 {
        font-size: 1.2rem; /* Adjust the font size to be smaller on mobile */
        line-height: 1.4; /* Improve line spacing */
        text-align: center; /* Center-align the text */
        padding: 0 1rem; /* Add padding to the sides */
    }

    .social-links {
        flex-direction: row; /* Align social links horizontally */
        justify-content: center; /* Center them on the page */
        flex-wrap: wrap; /* Allow icons to wrap to the next line if space is tight */
        order: 3;
    }

    .social-links a {
        font-size: 1.2rem; /* Adjust the size of social icons */
    }

    #logo {
        order: 1; /* Ensure logo is on top */
    }

    #theme-toggle {
        order: 2; /* Ensure logo is on top */
    }

    .nav-toggle {
        order: 3; /* Ensure navigation toggle is below */
        width: 100%; /* Full width */
        display: block; /* Make it visible */
    }

    .nav-links {
        order: 3; /* Position the nav-links in between */
        display: none; /* Hide by default, show when toggle is clicked */
    }

    /* Show the navigation links when the show-nav class is applied */
    .show-nav {
        display: flex;
        flex-direction: column;
        background-color: -var(--icon-hover-color); /* Background color for the dropdown */
        top: 100%; /* Position dropdown below the navbar */
        width: 100%; /* Full width */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add shadow for dropdown effect */
        font-size: 2rem; /* Increase font size for better tapability */
        margin: 0.5rem 0; /* Adjust spacing for readability */
    }
}


